$color-red: #822000;
$font-stack: 'MrsEavesSmallCaps', 'Roboto', 'Helvetica', 'sans-serif';


//
body {
  margin:0;
}
hr{
  border: solid 1px $color-red;
}
.red {
  color: $color-red;
}

.bold {
  font-weight: bold;
}

.not-bold {
  font-weight: normal;
}
.italic {
  font-style: italic;
}

.text {
  font-weight: normal;
  // display: inline-block;
}
// Stat block template

.stat-block-template {
  font-family: $font-stack;
  background-color: #f7f2c6;
  font-size: 0.9em;

  .stat-block-border {
    display: block;
    height: 5px;
    background-color: #caa472;
    border: 0.5px solid black;
  }

  .stat-block-inner {
    padding: 3%;


  .stat-name {
    font-family: 'Carrois Gothic SC', $font-stack;
    font-size: 1.8em;
  }


    .stat-type {
      font-size: 0.8em;
    }

    .stat-red-line {
      margin: 1% 0;

      .red-line-img {
        min-height: 10px;
        max-width: 100%;
      }
    }

    .stat-ability-scores {
      display: block;

      .ability-scores-list {
        padding: 0 1%;
        list-style-type: none;
        margin: 0;
        overflow: hidden;

        .ability-score-title {
          display: inline-block;
          min-width: 2em;
          padding:0 3%;
          text-align: center;
        }
        .ability-score-content{
          display: inline-block;
          min-width: 2em;
          padding:0 1.5%;
          text-align: center;
        }
      }
    }
    .action-text{
      padding-bottom: 2%;


      .action-text-paragraph {

        font-style:normal;
      }
    }
    .action-text-header-title{
      font-size: 1.5em;
      font-family: $font-stack;
      padding-top: 1%;
      line-height: 0.5;
    }

  }

}
